<h2>
  Guitar details:
  <button (click)="loadGuitar()">
    Load Details
  </button>
</h2>
<ul>
  <li *ngFor="let guitar of guitars">
    <p>name: {{ guitar.name }}</p>
    <p>proce: {{ guitar.price }}</p>
    <p>Id: {{ guitar.guitarId }}</p>
  </li>
</ul>
